.footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #90d4c5;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-menu a {
  font-family: var(--barlow);
  text-decoration: none;
  color: var(--dark-moderate-cyan);
}

.social-media-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 105px;
}
