.footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #90d4c5;
}

.logo-footer {
  justify-self: center;
  padding: 65px 0 45px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-menu a {
  font-family: var(--barlow);
  text-decoration: none;
  color: var(--dark-moderate-cyan);
}

.footer-menu a:hover {
  color: var(--white);
}

.social-media-container {
  padding: 90px 0 80px 0;
}

.social-media-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 105px;
}
