.header-container {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw * 1.434666);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  position: relative;
}

.hamburger-menu {
}

.menu-toggle.hidden {
  display: none;
}

.menu-toggle.show {
  display: block;
}

.menu-mobile-container {
  width: 330px;
  height: 330px;
  background-color: #fffbf8;
  position: absolute;
  right: 25px;
  top: 84px;
  display: grid;
  grid-template-columns: auto 25px;
}

.nav-menu {
  grid-column: 1 / 3;
}

.menu-mobile {
  text-align: center;
}

.div-arrow-effect {
  height: 25px;
  display: inline-block;
}

.rectangle {
  width: 100%;
  background-color: #3ebfff;
}

.triangle {
  width: 0px;
  height: 0px;
  box-sizing: border-box;
  border-top: 12.5px solid #3ebfff;
  border-right: 12.5px solid #fffbf8;
  border-left: 12.5px solid #3ebfff;
  border-bottom: 12.5px solid #fffbf8;
}

.menu-mobile li a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-family: var(--barlow);
  display: inline-block;
  padding: 20px 30px;
}

.menu-item:hover {
  background-color: #fbd601;
  color: var(--very-dark-desaturated-blue);
  border-radius: 30px;
  font-family: var(--fraunces);
  text-transform: uppercase;
}

.header-title {
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  letter-spacing: 0.3ch;
  line-height: 1.3;
}

.header-container .icon-arrow-down {
  position: absolute;
  top: 290px;
  left: calc(50% - 18px);
}

@media screen and (min-width: 515px) {
  .header-title {
    max-width: 12ch;
    margin: 0 auto;
  }
}
