.header-container {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: calc(100vw * 1.434666);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
}

.header-title {
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  letter-spacing: 0.3ch;
  line-height: 1.3;
}

.header-container .icon-arrow-down {
  position: absolute;
  top: 290px;
  left: calc(50% - 18px);
}

@media screen and (min-width: 515px) {
  .header-title {
    max-width: 12ch;
    margin: 0 auto;
  }
}
