.images-gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1440px) {
  .images-gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
