.main-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 60px 0;
}

.main-item h2 {
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  max-width: 12ch;
}

.main-item p {
  font-family: var(--barlow);
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  padding: 0 20px;
}

.main-item a {
  font-family: var(--fraunces);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--very-dark-desaturated-blue);
  font-size: 16px;
  padding: 10px;
}

#transform-link::after {
  content: "";
  display: block;
  width: 120px;
  height: 6px;
  background-color: #fef4b7;
  border-radius: 6px;
}

#stand-out-link::after {
  content: "";
  display: block;
  width: 120px;
  height: 6px;
  background-color: #fed9d0;
  border-radius: 6px;
}

.main-item-graphic-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw * 1.6);
  position: relative;
}

.main-item-graphic-design h2 {
  display: inline-block;
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--dark-desatured-cyan);
  max-width: 12ch;
  position: absolute;
  bottom: 208px;
}

.main-item-graphic-design p {
  display: inline-block;
  font-family: var(--barlow);
  color: var(--dark-desatured-cyan);
  line-height: 1.5;
  padding: 0 20px;
  position: absolute;
  bottom: 60px;
}

.main-item-photography {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/mobile/image-photography.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw * 1.6);
  position: relative;
}

.main-item-photography h2 {
  font-family: var(--fraunces);
  font-weight: 900;
  color: var(--dark-blue);
  max-width: 12ch;
  position: absolute;
  bottom: 181px;
}

.main-item-photography p {
  font-family: var(--barlow);
  color: var(--dark-blue);
  line-height: 1.5;
  padding: 0 20px;
  position: absolute;
  bottom: 60px;
}
