@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
@import './reset.css';
@import './variables.css';
@import './header.css';
@import './footer.css';

body {
  display: flex;

  justify-content: center;
}

.container {
  background-color: cornflowerblue;

  width: 1440px;
  height: 4175px;
}

.cover {
  width: 1440px;
  height: 600px;

  background-color: #3dbeff;
}

.cards {
  width: 1440px;
  height: 1800px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: #fed501;
}

.testimonials {
  width: 1440px;
  height: 780px;

  background-color: bisque;
}

.bottom-images {
  width: 1440px;
  height: 445px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: #fea9ac;
}
